name: Build & Push Docker Image

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push API image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: api
          push: true
          tags: |
            domekologe/owapi:latest
            domekologe/owapi:${{ github.ref_name }}

      - name: Build and push Scraper image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: scraper
          push: true
          tags: |
            domekologe/owapi:scraper-latest
            domekologe/owapi:scraper-${{ github.ref_name }}
