name: Build owapi

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Build owapi on Linux
        if: runner.os == 'Linux'
        shell: bash
        run: |
          mkdir -p build
          go build -o build/owapi .

      - name: Build owapi on Windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          mkdir build
          go build -o build/owapi.exe .

      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: owapi-${{ runner.os }}
          path: build/*
